<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.datasoft.abs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgentBanking">
        <activity
            android:name=".presenter.view.splash.SplashActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AgentBanking.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.view.login.LoginActivity"
            android:label="@string/activity_login"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AgentBanking.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".presenter.view.dashboard.MainActivity"
            android:label="@string/activity_main"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AgentBanking.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".presenter.view.dashboard.fragments.customerCreate.CustomerActivity"
            android:label="@string/activity_customer"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AgentBanking.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".presenter.view.dashboard.fragments.customerCreate.address.AddressActivity"
            android:label="@string/address"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AgentBanking.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".presenter.view.dashboard.fragments.customerCreate.documents.DocumentActivity"
            android:label="@string/documents"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AgentBanking.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".presenter.view.dashboard.fragments.customerCreate.photo.SignatureActivity"
            android:label="@string/signature"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AgentBanking.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".presenter.view.dashboard.fragments.accountOpening.AccountActivity"
            android:label="@string/activity_account"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AgentBanking.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".presenter.view.dashboard.fragments.accountOpening.nominee.NomineeActivity"
            android:label="@string/nominee"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AgentBanking.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:replace="android:screenOrientation" />
    </application>

</manifest>